.cdk-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: white;
  padding: 6px 0;
}

.cdk-menu-item {
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.cdk-menu-item:hover {
  background-color: #d0d0d0;
}

.cdk-menu-item:active {
  background-color: #aaa;
}
